@page "/Blog/Create"
@page "/Blog/Edit/{id:int}"

@inject IDestinationsRepository _DestinationRepository
@inject IBlogRepository _BlogRepository
@inject IJSRuntime _JsRuntime
@inject NavigationManager _NavigationManager
@inject IFileUpload _FileUpload

<PageTitle>Package: @Tittle</PageTitle>

<div class="row my-2">
    <h3 class="card-title text-primary mb-3 ml-3">Package: @Tittle</h3>

    <div class="col-md-10">
        @if (IsLoading)
        {
            <div class="text-center">
                <img src="Loading/loading.gif">
            </div>
        }
        else
        {
            <EditForm Model="Blogs" OnValidSubmit="UpsertBlog">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Name</label>
                    <InputText @bind-Value="Blogs.BlogTittle" class="form-select"></InputText>
                    <ValidationMessage For="()=>Blogs.BlogTittle"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <InputSelect @bind-Value="Blogs.DestinationsId" class="form-select">
                        <option value="0" disabled="disabled" selected>--Select Location--</option>
                        @foreach (var destination in Destinations)
                        {
                            <option value="@destination.Id">@destination.Location</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="()=>Blogs.DestinationsId"></ValidationMessage>
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <SfRichTextEditor @bind-Value="Blogs.BlogDescription"></SfRichTextEditor>
                    <ValidationMessage For="()=>Blogs.BlogDescription"></ValidationMessage>
                </div>

                <div class="row pt-3">
                    <div class="form-group pt-4 col-6">
                        <InputFile OnChange="HandleImageUpoad"></InputFile>
                    </div>
                </div>


                <div class="form-group py-2">
                    <button class="btn btn-primary">@Tittle</button>
                    <NavLink href="/Blog" class="btn btn-secondary">Back</NavLink>
                </div>
            </EditForm>
        }
    </div>
    <div class="col-md-2">
        <img src="@Blogs.BlogImageUrl" class="w-100">
    </div>
</div>


@code {
    [Parameter]
    public int Id { get; set; }

    private string FolderName = "BlogsImages";

    private string Tittle { get; set; } = "Create";

    public BlogDTO Blogs { get; set; } = new BlogDTO()
        {
            BlogImageUrl = "/images/default.png"
        };

    public IEnumerable<DestinationsDTO> Destinations { get; set; } = new List<DestinationsDTO>();

    public bool IsLoading { get; set; }

    public string? OldImageUrl { get; set; }

    private async Task LoadBlogById()
    {
        IsLoading = true;
        StateHasChanged();
        Destinations = await _DestinationRepository.GetAll();
        if (Id != 0)
        {
            Tittle = "Update";
            Blogs = await _BlogRepository.Get(Id);
            OldImageUrl = Blogs.BlogImageUrl;
        }
        IsLoading = false;
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadBlogById();
        }
    }

    private async Task UpsertBlog()
    {

        if (Id == 0)
        {
            await _BlogRepository.Create(Blogs);
            await _JsRuntime.ToastrSucess("Blog added sucessfully");
            _NavigationManager.NavigateTo("/Blog");
        }
        else
        {
            if (OldImageUrl != Blogs.BlogImageUrl)
            {
                _FileUpload.DeleteFile(OldImageUrl);
            }
            await _BlogRepository.Update(Blogs);
            await _JsRuntime.ToastrSucess("Blog updated sucessfully");
            _NavigationManager.NavigateTo("/Blog");
        }

    }

    private async Task HandleImageUpoad(InputFileChangeEventArgs e)
    {
        IsLoading = true;
        try
        {
            if (e.GetMultipleFiles().Count > 0)
            {
                foreach (var file in e.GetMultipleFiles())
                {
                    System.IO.FileInfo fileInfo = new System.IO.FileInfo(file.Name);
                    if (fileInfo.Extension.ToLower() == ".jpg" || fileInfo.Extension.ToLower() == ".png" || fileInfo.Extension.ToLower() == ".jpeg")
                    {
                        Blogs.BlogImageUrl = await _FileUpload.UploadFile(file, FolderName);
                        if(Blogs.BlogImageUrl != null && Blogs.BlogImageUrl != OldImageUrl)
                        {
                            await _JsRuntime.ToastrSucess("Image updated sucessfully");
                        }
                    }
                    else
                    {
                        await _JsRuntime.ToastrError("Please select .jpg/.jpeg/.png file only");
                    }
                }
            }
            IsLoading = false;
        }
        catch (Exception ex)
        {
            await _JsRuntime.ToastrError(ex.Message);
        }
    }
}